#main {
  width: 100%;
  height: 530px;
  overflow: hidden;
  position: relative;
  top: 50px;
}
 
#sub {
  width: 100%;
  height: 530px;
  background-image: url("https://t4.ftcdn.net/jpg/05/17/57/97/360_F_517579734_W1QNj7z8qWmQDEhXnaD5MaPz7EVN4osL.jpg");
  margin-top: 20px;
  background-repeat: no-repeat;
  background-size: 1250px 530px;
  position: relative;
}

.text-danger {
  width: 500px;
  position: relative;
  top: 70px;
  right: 440px;
}

#emaildiv {
  position: relative;
  top: 40px;
}

#header {
  position: relative;
  top: 130px;
  left: 200px;
}

#update {
  width: 90%;
  height: 250px;
  position: relative;
  top: 150px;
  left: 50px;
}

#update label {
  font-size: 20px;
  display: inline-block;
}

#update input {
  width: 23rem;
  height: 50%;
  font-size: 20px;
}

#submit input {
  width: 100px;
  height: 50px;
  position: relative;
  top: 30px;
  left: 200px;
  background-color: #10abe9f7;
  font-size: 25px;
  border: none;
  border-radius: 20px;
}

.send{
  position: relative;
  left: 230px;
  top: 20px;
  background-color: #10abe9f7
}