<div id="main">
  <div id="sub">
    <form (ngSubmit)="generateOTP()" [formGroup]="updateForm">
      <div id="header">
        <h3>Enter your email to receive OTP</h3>
      </div>
      <div id="update">
        <table>
          <tr>
            <td><label for="">Email:</label></td>
            <td>
              <input type="email" name="email" id="email" [(ngModel)]="email" required formControlName="email" />
            </td>
            <div *ngIf="
                updateForm.get('email')?.invalid &&
                (updateForm.get('email')?.dirty ||
                  updateForm.get('email')?.touched)
              " class="text-danger" id="emaildiv">
              <span *ngIf="updateForm.get('email')?.errors?.['required']">Email is required</span>
              <span *ngIf="updateForm.get('email')?.errors?.['pattern']">Invalid Email format</span>
            </div>
          </tr>
          <button class="btn btn-outline-dark btn-lg px-2 text-white bg-dark" class="send" type="submit"
            style="position:relative;width:110px ;">Send OTP</button>
        </table>
      </div>
    </form>
  </div>
</div>