<div class="card">
  <div class="card-head">PATIENT GUIDELINES</div>
  <div class="card-body">
    <div class="content">
      <ul>
        <li>
          Patients or their authorized representatives must provide informed
          consent before receiving a blood transfusion
        </li>
        <li>
          Proper patient identification procedures must be followed to ensure
          that the correct blood product is administered to the intended
          recipient.
        </li>
        <li>
          Comprehensive documentation of the blood transfusion process is
          essential for maintaining accurate medical records.
        </li>
        <li>
          Blood transfusions are typically prescribed based on medical
          necessity, such as acute blood loss, anemia, or other medical
          conditions requiring augmentation of the blood's oxygen-carrying
          capacity.
        </li>
        <li>
          Patients receiving blood transfusions are closely monitored for signs
          of adverse reactions, such as fever, chills, rash, shortness of
          breath, chest pain, or changes in blood pressure
        </li>
      </ul>
    </div>
    <div class="ok-button">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="closeDialog()"
      >
        Ok, I Understand
      </button>
    </div>
  </div>
</div>
