div {
  position: relative;
  left: 600px;
  bottom: 370px;
  height: 200px;
  width: 20%;
  background-color: rgb(248, 255, 255);
  box-shadow: 5px 0px 5px 5px rgb(45 47 48);
  overflow: hidden;
}
table {
  margin: auto;
  position: relative;
  top: 50px;
}
#select {
  position: relative;
  top: 10px;
  height: 30px;
  width: 190px;
}
#submit {
  position: relative;
  top: 40px;
  left: 60px;
  background-color: rgb(10, 133, 190);
  border-radius: 10px;
  height: 30px;
  width: 70px;
}
