<div class="card">
  <div class="card-head">DONOR GUIDELINES</div>
  <div class="card-body">
    <div class="content">
      <ul>
        <li>
          Donor should be physically healthy and should be between 18-65 years.
        </li>
        <li>
          Donor should have not donated blood within the previous 3 months.
        </li>
        <li>
          Donors typically need to weight at least 110 pounds (50 kilograms) to
          donate blood safely.
        </li>
        <li>
          Donors should not have a cold, flu, sore throat, cold sore, stomach
          bug, or any other infection.
        </li>
        <li>Donors should not have recently had a tattoo or body piercing</li>
        <li>Donors should not have heart disease or ailment.</li>
        <li>
          Donors should not have asthma, epilepsy, thalassemia, sickle cell
          anaemia, polycythemia vera, or similar conditions.
        </li>
        <li>Donors should avoid alcohol for 24 hours.</li>
      </ul>
    </div>
    <div class="ok-button">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="closeDialog()"
      >
        Ok, I Understand
      </button>
    </div>
  </div>
</div>
