<marquee class="scroll" direction="left" scrollamount="10"
  >Donate blood responsibly, not on roads but at blood donation camps!!</marquee
>
<h1><strong>Frequently Asked Questions</strong></h1>

<div id="content">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          How much blood can one person donate at a time?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>A Pint</strong><br />A pint equals 16 liquid ounces, and that
          might seem like a lot of blood to lose in the 15 minutes it takes to
          actually donate. But it’s only a tenth of the total amount of blood
          circulating through your system. Afterward, your body begins to
          replenish it quickly: Plasma, the largest component of your blood, is
          replaced within 24 hours, while red blood cells need four to six weeks
          to regenerate. This is why blood banks require donors to wait at least
          eight weeks before donating again.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          What blood type is most in demand?
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Type O</strong><br />
          Both O negative and O positive are the most sought after. Though only
          7% of the population is O negative, this blood can be used for people
          with any blood type. The need for O positive is also high because it’s
          the most common blood type, 38% of the population is O positive. But
          just because you aren’t type O doesn’t mean your blood won’t be
          needed. The most in demand blood type is the one that best matches a
          patient who needs it in that moment.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Everyone can donate blood ?
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>NO</strong><br />
          The vast majority of people are eligible to become whole blood donors,
          but some restrictions apply. For starters, there are age and weight
          requirements: Donors must be at least 18 years old and weigh 110
          pounds. <br />

          Health status matters as well. People with certain infectious
          diseases, such as HIV or hepatitis B or C, are also ineligible, as are
          survivors of blood cancers (like lymphoma or multiple myeloma). And if
          you’ve traveled to a malaria-risk country, you’ll need to wait at
          least three months before you’re cleared to donate. <br />

          Having a new tattoo can also temporarily block you from becoming a
          donor—if you got inked in a state that doesn’t regulate tattoo
          parlors, like Georgia, Idaho, Maryland, Massachusetts, New York,
          Pennsylvania and Wyoming. If you were tattooed in one of these states,
          you must wait three months from the date you got the tattoo before
          donating.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFour"
          aria-expanded="false"
          aria-controls="flush-collapseFour"
        >
          When is donated blood in shortest supply?
        </button>
      </h2>
      <div
        id="flush-collapseFour"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Summer & Winter</strong><br />The biggest drops in donor blood
          amounts happen during the winter and summer holidays. During parts of
          winter, “people are away on vacation; also, many blood drives are held
          at high schools or colleges, and during this time students aren’t
          there to give,” points out Cole. <br />

          Demand for blood also rises in the summertime, just when many people
          are planning vacations and not thinking about donating. “There tend to
          be more ER traumas during the summer months, and many people schedule
          elective surgeries at this time, when work is quieter,” Cole adds.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseFive"
          aria-expanded="false"
          aria-controls="flush-collapseFive"
        >
          What blood components can be donated?
        </button>
      </h2>
      <div
        id="flush-collapseFive"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Blood cells, platelets and plasma</strong><br />
          Blood donation is a collective term, but there are actually four
          different types of donations involving various parts of blood. Whole
          blood donation is a term that encompasses every component of blood:
          red cells, white cells and platelets, suspended in plasma. Whole blood
          donation can be done every eight weeks. <br />
          “Power red” donation means you give a concentrated dose of red cells,
          which are typically used for trauma patients, people with sickle cell
          disease, newborns and emergency transfusions during birth. This kind
          of donation can be done up to three times a year. <br />
          Platelet donation most often benefits cancer patients. Platelets are
          cell fragments that help stop bleeding, and some cancer treatments
          decrease a person’s natural ability to produce them. You can donate
          platelets every seven days. <br />
          Finally, donations of plasma—the fluid that carries these other blood
          components through the bloodstream—are typically used to treat
          patients in emergency situations. Plasma donation is only permitted
          every 28 days. <br />
          Not all blood donation types are done at individual blood drives, so
          check ahead before you make your appointment.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSix"
          aria-expanded="false"
          aria-controls="flush-collapseSix"
        >
          How many lives can one blood donation potentially save?
        </button>
      </h2>
      <div
        id="flush-collapseSix"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Three</strong><br />
          That might sound like a surprisingly high number, but remember, each
          blood donation equals a pint of blood—which can be transfused into a
          single person or multiple people. Whole blood can also be separated
          into platelets, plasma and red blood cells, then given to different
          people who have varying needs.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseSeven"
          aria-expanded="false"
          aria-controls="flush-collapseSeven"
        >
          Which side effect i might experience after donating blood?
        </button>
      </h2>
      <div
        id="flush-collapseSeven"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Feeling Faint</strong><br />
          Though not everyone experiences it, feeling faint, lightheaded or even
          a little dizzy is a normal response after giving blood. It’s why many
          blood donation sites typically invite donors to sit for a while in a
          recovery area and offer a drink and snack, like water and cookies, to
          help replenish their energy before heading home or back to work.
          <br />

          Drinking plenty of fluids post-donation can also minimize feeling
          faint. iBlood recommends consuming an extra 32 ounces of liquids (like
          water or juice—but not alcohol, which you should avoid) over 24 hours
          following donation. <br />

          Other potential side effects include fatigue, as well as bruising or
          slight bleeding at the site where the needle was inserted into your
          arm. These symptoms shouldn’t be more than a little bothersome and
          will clear up quickly. But if they become severe, contact a doctor
          ASAP.
          <code></code>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseEight"
          aria-expanded="false"
          aria-controls="flush-collapseEight"
        >
          Can i find out where my blood goes after i donate?
        </button>
      </h2>
      <div
        id="flush-collapseEight"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          <strong>Yes</strong><br />
          As a blood donor, you may not be able to track exactly where your
          blood goes after donation, but you can rest assured that it is used to
          save lives and help patients in need. We at iBlood often provide
          general information about the impact of blood donations, including the
          number of lives saved and the types of patients helped.
          <code></code>
        </div>
      </div>
    </div>

       
  </div>
</div>

<footer class="footer">
  <ul class="ul1">
    <li>+91-9874356778</li>
    <li>+91-8765432187</li>
    <li>ibloodbank &#64;gmail.com</li>
  </ul>
  <ul class="ul2">
    <li>
      <a href="https://www.facebook.com/">
        <i class="bi bi-facebook" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://www.whatsapp.com/">
        <i class="bi bi-whatsapp" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/">
        <i class="bi bi-instagram" style="color: white"></i>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/">
        <i class="bi bi-twitter-x" style="color: white"></i>
      </a>
    </li>
  </ul>
</footer>
