<div id="main">
  <div class="heading">
    <h1>About Us</h1>
    <p>
      We are committed to pushing the boundaries of what's possible, constantly
      seeking new ways to optimize blood bank operations and deliver <br />
      unparalleled value to our users.
    </p>
  </div>
  <div id="content">
    <div class="container">
      <section class="about">
        <div class="about-image">
          <img
            src="https://media.istockphoto.com/id/1335544846/photo/senior-human-hand-holding-red-paper-heart-shape-and-red-blood-drop-symbol-on-bandage-for.jpg?s=612x612&w=0&k=20&c=gVXGcm6WOvo-HNqMFztk6QdaQBUr3vDeU1mOfiDrLuI="
            alt="about image"
          />
        </div>
        <div class="about-content">
          <h2>WE ARE ON A MISSION !</h2>
          <p>
            At I-Blood, we are driven by a singular mission: to revolutionize
            the way blood banks operate and empower healthcare systems to save
            lives more efficiently. We understand the critical importance of
            blood donation and distribution in healthcare systems.
          </p>
          <br />
          <p>
            Through our innovative blood bank management system, we aim to
            enhance operational efficiency, reduce wastage, and ultimately
            improve recipient outcomes. We approach our work with empathy and
            compassion, understanding the human stories behind every drop of
            blood donated and received.
          </p>
          <br />
          <p>
            Every effort we put, is driven by the desire to make a tangible
            difference in people's lives. We measure our success by the lives we
            touch and the impact we have on communities.
          </p>
        </div>
      </section>
    </div>
  </div>

  <footer class="footer">
    <ul class="ul1">
      <li>+91-9874356778</li>
      <li>+91-8765432187</li>
      <li>ibloodbank &#64;gmail.com</li>
    </ul>
    <ul class="ul2">
      <li>
        <a href="https://www.facebook.com/">
          <i class="bi bi-facebook" style="color: white"></i>
        </a>
      </li>
      <li>
        <a href="https://www.whatsapp.com/">
          <i class="bi bi-whatsapp" style="color: white"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/">
          <i class="bi bi-instagram" style="color: white"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/">
          <i class="bi bi-twitter-x" style="color: white"></i>
        </a>
      </li>
    </ul>
  </footer>
</div>