<div class="main-container">
  <div class="parent">
    <div class="sidenav">
      <a routerLink="/donorHome">
        <i class="fas fa-home"></i>&nbsp;&nbsp;&nbsp; Home
      </a>
      <a routerLink="donorDetails">
        <i class="fas fa-hands-helping"></i>&nbsp;&nbsp;&nbsp; Donate Now
      </a>
      <a routerLink="location">
        <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;&nbsp; Change Location
      </a>
      <a routerLink="details">
        <i class="fas fa-user"></i>&nbsp;&nbsp;&nbsp; Donor Details
      </a>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>